git+https://github.com/Rapptz/discord.py
aiohttp==3.7.3
async-timeout==3.0.1
atomicwrites==1.4.0
attrs==20.3.0
chardet==3.0.4
colorama==0.4.4
discord==1.0.1
discord.py==1.6.0
idna==3.1
iniconfig==1.1.1
multidict==5.1.0
packaging==20.9
pluggy==0.13.1
py==1.10.0
pyparsing==2.4.7
pytest==6.2.2
toml==0.10.2
typing-extensions==3.7.4.3
yarl==1.6.3
